<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Team and Heroes!</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form class="" action="/team" method="post">
      <p>Team Name: <input type="text" name="team[name]" value=""></p>
      <p>Team Motto: <input type="text" name="team[motto]" value=""></p>

      <p><h2>Team 1</h2></p>
      <p>Heroes Name: <input type="text" name="team[heroes][][name]" value=""></p>
      <p>Heroes</p>
      <input type="submit" name="submit" value="Submit">

    </form>

  </body>
</html>
